<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Cadastro</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form method="POST" action="{{ url_for('cadastro') }}">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" required /><br /><br />

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required /><br /><br />

      <label for="ddd">DDD:</label>
      <input type="ddd" name="ddd" id="ddd" required /><br /><br />

      <label for="telefone">Telefone:</label>
      <input
        type="telefone"
        name="telefone"
        id="telefone"
        required
      /><br /><br />

      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required /><br /><br />

      <label for="senha_confirmacao">Confirmar Senha:</label>
      <input
        type="password"
        name="senha_confirmacao"
        id="senha_confirmacao"
        required
      /><br /><br />

      <button type="submit">Cadastrar</button>
    </form>

    <a href="{{ url_for('login') }}">Voltar</a>
  </body>
</html>
